# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [18]:
arr = np.arange(1,16,1).reshape(5,3)
df = pd.DataFrame(arr, index=['2013-01-01', '2013-01-02','2013-01-03', '2013-01-04','2013-01-05'], columns=['A', 'B', 'C'])
df

             A   B   C
2013-01-01   1   2   3
2013-01-02   4   5   6
2013-01-03   7   8   9
2013-01-04  10  11  12
2013-01-05  13  14  15

df.loc[ '2013-01-01', 'A']

In [19]:
df.loc[ '2013-01-01', ['A', 'B'] ]

A    1
B    2
Name: 2013-01-01, dtype: int32

In [20]:
df.loc[ '2013-01-01':'2013-01-02', 'A' ]

2013-01-01    1
2013-01-02    4
Name: A, dtype: int32

In [21]:
df.loc[ '2013-01-01':'2013-01-05', 'A':'C']

             A   B   C
2013-01-01   1   2   3
2013-01-02   4   5   6
2013-01-03   7   8   9
2013-01-04  10  11  12
2013-01-05  13  14  15

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [2]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0 -0.990834 -0.320301 -1.740910
1 -1.338028 -0.172500  2.142511
2 -0.370832 -1.273323  0.508144
3 -0.129681 -0.507647  0.217633
4  0.530367 -1.336668 -0.232487
5 -1.178472  0.428629 -0.328684

1. select the first 3 rows

In [4]:
print(df[0:3])
print(df.head(3))

       col1      col2      col3
0 -0.990834 -0.320301 -1.740910
1 -1.338028 -0.172500  2.142511
2 -0.370832 -1.273323  0.508144
       col1      col2      col3
0 -0.990834 -0.320301 -1.740910
1 -1.338028 -0.172500  2.142511
2 -0.370832 -1.273323  0.508144

2. select the odd rows. (index = 1, 3, 5)

In [5]:
print(df.loc[1:5:2, :])

       col1      col2      col3
1 -1.338028 -0.172500  2.142511
3 -0.129681 -0.507647  0.217633
5 -1.178472  0.428629 -0.328684

In [6]:
print(df.iloc[[i % 2 == 1 for i in range(len(df.index))]])

       col1      col2      col3
1 -1.338028 -0.172500  2.142511
3 -0.129681 -0.507647  0.217633
5 -1.178472  0.428629 -0.328684

In [7]:
print(df[df.index % 2 == 1])

       col1      col2      col3
1 -1.338028 -0.172500  2.142511
3 -0.129681 -0.507647  0.217633
5 -1.178472  0.428629 -0.328684

3. select the last 2 columns

In [8]:
print(df[-1:-3:-1])

       col1      col2      col3
5 -1.178472  0.428629 -0.328684
4  0.530367 -1.336668 -0.232487

In [9]:
print(df.tail(2))

       col1      col2      col3
4  0.530367 -1.336668 -0.232487
5 -1.178472  0.428629 -0.328684

4. select the even columns. (index = 0, 2, 4)

In [10]:
print(df.iloc[:, [0, 2]])

       col1      col3
0 -0.990834 -1.740910
1 -1.338028  2.142511
2 -0.370832  0.508144
3 -0.129681  0.217633
4  0.530367 -0.232487
5 -1.178472 -0.328684

In [11]:
print(df.iloc[:, [i % 2 == 0 for i in range(len(df.columns))]])

       col1      col3
0 -0.990834 -1.740910
1 -1.338028  2.142511
2 -0.370832  0.508144
3 -0.129681  0.217633
4  0.530367 -0.232487
5 -1.178472 -0.328684

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [12]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   13  15  29  18
1   39  27  28  22
2   20  22  10  34
3   16  27  23  26
4   33  29  10  30
5   25  20  14  10
6   33  26  24  27
7   31  30  37  18
8   24  19  23  25
9   10  27  31  18
10  35  18  28  27
11  12  29  39  11
12  32  17  15  39
13  33  28  17  38
14  30  27  20  30

1. filtered by first column > 20

In [13]:
mask = df[0] > 20
print(df[mask])

     0   1   2   3
1   39  27  28  22
4   33  29  10  30
5   25  20  14  10
6   33  26  24  27
7   31  30  37  18
8   24  19  23  25
10  35  18  28  27
12  32  17  15  39
13  33  28  17  38
14  30  27  20  30

2. filtered by first column + second column > 50

In [14]:
mask = df[0] + df[1] > 50
print(df[mask])

     0   1   2   3
1   39  27  28  22
4   33  29  10  30
6   33  26  24  27
7   31  30  37  18
10  35  18  28  27
13  33  28  17  38
14  30  27  20  30

3. filtered by first column < 30 or second column > 30

In [15]:
mask1 = df[0] < 30 
mask2 = df[1] > 30
print(df[mask1 | mask2])

     0   1   2   3
0   13  15  29  18
2   20  22  10  34
3   16  27  23  26
5   25  20  14  10
8   24  19  23  25
9   10  27  31  18
11  12  29  39  11

4. filtered by total sum of row > 100

In [16]:
print(df[df.sum(axis=1) > 100])

     0   1   2   3
1   39  27  28  22
4   33  29  10  30
6   33  26  24  27
7   31  30  37  18
10  35  18  28  27
12  32  17  15  39
13  33  28  17  38
14  30  27  20  30